/*
	Plugin Name: Closed Site
	Plugin URI: http://github.com/JackSiro/Closed-Site-Plugin
	Plugin Description: Allows for for locking the site to only logged users only.
	Plugin Version: 1.5
	Plugin Date: 2014-09-20
	Plugin Author: Jackson Siro
	Plugin Author URI: http://github.com/JackSiro
	Plugin License: GPLv3
	Plugin Minimum Question2Answer Version: 1.7
	Plugin Update Check URI:

*/
 body{	
	background:url(nairobi.jpg) no-repeat fixed center 100% !important ;
	margin: 0;
    padding: 0;
	text-align:left;
 }
 
 .qa_page_wrap{
	clear:both;
	width:100%;
	margin:0 auto;
	color:#fff ;
}

   
.qa_main {	
	float:left;
	font-size: 16px;
	margin:10px;
    padding: 10px;
	color:#fff;
	width:500px;
}

.qa_left{
	float:right;
	font-size: 20px;
    margin: 10px;
    padding: 10px;
	width:270px;
	background: rgba(255,255,255,0.5);
	
}

.qa_loginpage{
	text-align:left;
	max-width: 1000px;
    min-height: 750px;
}

.qa-logo {
	float:left;
	margin-bottom:16px;
	font-size:30px;
	font-weight:bold;
	color:#fff!important;	
}

.qa_footer{
	clear:both;
	background:transparent;
}

.qa_nav_main_link {
	color:#666 !important;
	display:block;
	font-weight:700;
	padding:7px 9px;
	-moz-transition:all ease-in-out 0.5s;
	-webkit-transition:all ease-in-out 0.5s;
	-o-transition:all ease-in-out 0.5s;
	-ms-transition:all ease-in-out 0.5s;
	transition:all ease-in-out 0.5s;	
}
.qa_nav_main_link:hover,.qa_nav_main_selected {
	text-decoration:none;
	color:#006699 !important;
	-moz-transition:all ease-in-out 0.2s;
	-webkit-transition:all ease-in-out 0.2s;
	-o-transition:all ease-in-out 0.2s;
	-ms-transition:all ease-in-out 0.2s;
	transition:all ease-in-out 0.2s;	
}


/*-- main + sub navigation css --*/
.qa-nav-main {
	display:none;
}
.qa_nav_main_list {
	font-size:16px;
	list-style:none;
	margin:0;
	padding:0;background: #eaeaea;
	font-family:Arial,Helvetica,sans-serif;
}
#qa-register, #qa-login {
	background: #0099cc; /* Old browsers */
	background: -webkit-linear-gradient(top, #0099cc 0%, #0179b5 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #0099cc 0%, #0179b5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099cc', endColorstr='#0179b5',GradientType=0); /* IE6-8 */
	border: 1px solid #004f76;
	color: #fff;
	font-weight: bold;
	padding: 3px 10px;
	border-radius: 3px;
}

#qa-register:hover, #qa-register:focus,
#qa-login:hover, #qa-login:focus {
	background: #1ca0cc; /* Old browsers */
	background: -webkit-linear-gradient(top, #1ca0cc 0%, #0099cc 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #1ca0cc 0%, #0099cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ca0cc', endColorstr='#0099cc',GradientType=0); /* IE6-8 */
}

/*---[ Begin: login bar css ]---*/
#qa_login_bar {
	background: #ddd;
	position:fixed;
	margin: 0;
	height: 30px;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

#qa_login_group {
	width: 100%;
	height:50px;
	margin: 0 auto;
	padding: 2px 10px;
	text-align: left;
	font-size:20px;
	background: #2c3e50;
}

#qa_loginform {
	float: right;
}

#qa_userid, #qa_password {
	width: 165px;
	margin-right: 5px;
	padding: 4px 5px;
}

#qa_userid, #qa_password {
	float: left;
}

#qa_loginform #qa_rememberbox {
	float: left;
	padding: 7px 5px 1px;
}

#qa_loginform #qa_rememberme {
	margin: 0 5px 0 0;
	display: inline;
}

#qa_loginform #qa_remember {
	display: inline;
	line-height: 14px;
	color:#fff;
}

#qa_login, #qa_register {
	height: 25px;
	margin: 0 0 0 5px;
	
}

#qa_forgot_password {
	display: inline-block;
}

#qa_forgot_password a, #qa_forgot_password a:visited {
	width: 24px;
	height: 24px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: #ccc;
	color: #777;
	display: inline-block;
	box-shadow: 1px 1px 0 0 #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

#qa-forgot-password a:hover, #qa-forgot-password a:active {
	text-decoration: none;
	background: #aa0000;
	color: #fff;
}

#qa_register{


}

#qa_login {
	background-color: #3498db;
	margin:5px;
	padding-left:20px;
	padding-right:20px;
	height:100%;
	color: #fff;
	border-color: #3498db;
}
#qa_login:hover {
	background-color: #2980b9;
	border-color: #2980b9;
	cursor: pointer;
}

#qa_fullname_r,#qa_password_r,#qa_userid_r,#qa_email_r{
	width:100%;

}

.qa_form{
	width:97%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	padding: 7px 10px;
	box-shadow: inset 0 1px 2px #eee;
	border:1px solid #CCC;
	margin:0 0 5px;
	border-radius:5px;
}
.qa_rchoice{
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	padding: 7px 10px;
	margin:0 0 5px;
}

@media (max-width: 790px){
	body{
		background:#eee;
		color:#000 ;
	}
	
	.qa-logo {
		width:100%;
	}
	#qa_login_bar{
		background:transparent;
		width:90%;
		height:0px;
		margin:0px;
		color:#000 ;
	}
	
	.qa_bodywrap{
		width:90%;
		margin:10px auto;
		color:#000 ;
		padding:10px;
	}
	
	#qa_login_group{
		width:100%;clear:both;
		text-align:left;
		
	}
	
	#qa-userid,#qa-password{
		width:95%;
		float:left;
		background: #fff;
		font-size: 20px;
		line-height: 20px;
		padding: 7px 10px;
		border:1px solid #CCC;
		margin:10px;
		border-radius:5px;
	}

	#qa-loginform{width:100%;float:left;
	}
	
	#qa-rememberbox #qa_login{
		width:100%;
		text-align:left;
	}
	
	#qa_login{
		width:100%;
		margin:10px;
	}
}

